.footer {
  position: fixed;
  bottom: 0;
  height:10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba($color: #eee, $alpha: 0.95);
  border-top-right-radius: 2vw;
  border-top-left-radius: 2vw;
  z-index: 900;
}
.noActive {
  color: #aaa;
}
.active {
  color: #000;
}