.footer {
  position: fixed;
  bottom: 0;
  height:10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(238, 238, 238, 0.959);
}
.noActive {
  color: #555;
}
.active {
  color: red;
}