.carouselBody {
  overflow: hidden;
  margin: 0 auto;
  border-radius: 12px;
}
.imgBody {
  display: flex;
  position: relative;
}
.btnBody {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: -100%;
}
.btn {
  width: 60px;
  height: 60px;
  align-self: center;
  background-color: #0000;
  font-size: 30px;
  font-weight : 900;
  color: #fff;
}
.leftBtn {
  @extend .btn
}
.rightBtn {
  @extend .btn
}
.bottomBtns {
  align-self: flex-end;
  margin-bottom: 5px;
  input[type="radio"]{
    width: 17px;
    height: 17px;
    background-color: #fff;
  }
}